# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 4</font>

## Download: http://github.com/dsacademybr

## ************ ATENÇÃO ************
Caso você tenha problemas com acentos nos arquivos:

Primeiro, recomendamos a leitura do material sobre Formato Unicode, ao final do capítulo 4.

Uma forma de resolver esse problema, é abrir o arquivo em um editor de texto como o Sublime Text, clicar em File - Save with Encoding e então salvar com encoding UTF-8.

Outra opção é incluir o parâmetro encoding='utf8' ao abrir o arquivo para leitura ou escrita.

## Arquivos

Obs: Crie um arquivo txt, chamado arquivo1.txt no diretório "arquivos" na pasta onde está seu Jupyter Notebook, digite a frase: Python é uma linguagem poderosa! 
e salve o arquivo.

### Lendo Arquivos

In [1]:
# Abrindo o arquivo para leitura
arq1 = open("arquivos/arquivo1.txt", "r")

In [2]:
# Lendo o arquivo
print(arq1.read())

Testando gravação de arquivos em Python  Acrescentando conteúdo

In [3]:
# Contar o número de caracteres
print(arq1.tell())

63

In [4]:
# Retornar para o iníco do arquivo
print(arq1.seek(0,0))

0

In [5]:
# Ler os primeiros 10 caracteres
print(arq1.read(10))

Testando g

### Gravando Arquivos

In [6]:
# Abrindo arquivo para gravação
arq2 = open("arquivos/arquivo1.txt", "w")

In [8]:
# Como abrimos o arquivo apenas para gravação, não podemos usar comandos de leitura.
print(arq2.read())

UnsupportedOperation: not readable

In [9]:
# Gravando arquivo
arq2.write("Testando gravação de arquivos em Python ")

40

In [10]:
arq2.close()

In [11]:
# Lendo arquivo gravado
arq2 = open("arquivos/arquivo1.txt", "r")

In [12]:
print(arq2.read())

Testando gravação de arquivos em Python

In [13]:
# Acrescentando conteúdo
arq2 = open("arquivos/arquivo1.txt", "a")

In [14]:
arq2.write(" Acrescentando conteúdo")

23

In [15]:
arq2.close()

In [16]:
arq2 = open("arquivos/arquivo1.txt", "r")

In [17]:
print(arq2.read())

Testando gravação de arquivos em Python  Acrescentando conteúdo

In [18]:
# Retornando ao início do arquivo para leitura
arq2.seek(0,0)

0

In [19]:
print(arq2.read())

Testando gravação de arquivos em Python  Acrescentando conteúdo

### Automatizando o processo de gravação

In [21]:
fileName = input("Digite o nome do arquivo: ")

KeyboardInterrupt: Interrupted by user

In [ ]:
fileName = fileName + ".txt"

In [ ]:
arq3 = open(fileName, "w")

In [ ]:
arq3.write("Incluindo texto no arquivo criado")

In [ ]:
arq3.close()

In [ ]:
arq3 = open(fileName, "r")

In [ ]:
print(arq3.read())

In [ ]:
arq3.close()

### Abrindo um dataset em uma única linha

Faça download do arquivo salarios.csv em nosso repositório no github. Este arquivo foi obtido no site de dados abertos do governo da cidade de Chicago, nos EUA: https://data.cityofchicago.org/

In [ ]:
f = open('arquivos/salarios.csv', 'r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
print(rows)

### Dividindo um dataset em colunas

In [ ]:
f = open('arquivos/salarios.csv', 'r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
full_data = []

In [ ]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

In [ ]:
print(full_data)

### Contando as linhas de um arquivo

In [ ]:
f = open('arquivos/salarios.csv', 'r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
full_data = []

In [ ]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

In [ ]:
count = 0
for row in full_data:
    count += 1   # Equivalente a: count = count + 1

In [ ]:
print(count)

### Contando o número de colunas de um arquivo

In [ ]:
f = open('arquivos/salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []

In [ ]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)
    first_row = full_data[0]
count = 0

In [ ]:
for column in first_row:
    count = count + 1
    
# Outra solução possível
# for column in full_data[0]:
#     count = count + 1

In [ ]:
print(count)

### Gravando arquivo pelo Jupyter Notebook

In [ ]:
%%writefile arquivos/teste.txt   
Olá este arquivo foi gerado pelo próprio Jupyter Notebook.
Podemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final.

In [ ]:
arq4 = open("arquivos/teste.txt", 'r')

In [ ]:
arq4.read()

In [ ]:
# Estamos no final do arquivo e não há mais nada para ler
arq4.read()

In [ ]:
# Retornando ao início do arquivo
arq4.seek(0)

In [ ]:
arq4.seek(0)
arq4.readlines()

In [ ]:
# Podemos usar um loop for para ler o arquivo
for line in open('arquivos/teste.txt'):
    print(line)

## Importando um dataset com Pandas

In [22]:
import pandas as pd

In [23]:
file_name = "arquivos/binary.csv"

In [24]:
df = pd.read_csv(file_name)

In [25]:
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [26]:
file2 = "arquivos/salarios.csv"

In [27]:
df2 = pd.read_csv(file2)

In [28]:
df2.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88968.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>